/*-----------------------------------------------------------------*/
/* Tab
/*-----------------------------------------------------------------*/
.nav {
    display: block;
  }
  
  .content-tab-1 .nav {
      text-align: center;
      text-transform: uppercase;
  }
  
  .content-tab-1 > .nav > li {
      float: none;
      display: inline-block;
      border: 2px solid #B1AEAE;
      padding: 3px 20px;
      box-shadow: 0px 0px 2px #F2F2F2;
      margin-bottom: 5px;
  }
  
  .content-tab-1 > .nav li > a {
      color: #CFD9E6;
      background-color: transparent;
      transition: all 0.2s ease 0s;
  }
  
  .content-tab-1 > .nav li > a > i {
      color: #474846;
      font-size: 35px;
      margin-bottom: 10px;
  }
  
  .content-tab-1 > .nav > li > a > h4 {
      display: block;
      color: #4D3F3F;
      font-size: 16px;
      margin-bottom: 0px;
  }
  
  .content-tab-1 > .nav > li.active > a > h4, .content-tab-1 > .nav > li.active > a > i {
      color: #FFF;
  }
  
  .content-tab-1 > .nav > li.active {
      border: 2px solid #003481;
      background: #003481;
  }
  
  .tab-content-main {
      padding: 70px 0px 0px;
  }
  
  .tab-content-main img {
      float: left;
      margin-right: 75px;
  }
  
  .tab1-features {
      margin-bottom:30px;
  }
  
  .tab1-features .icon {
      position: absolute;
      width: 40px;
      height: 40px;
      background: #003481 ;
      color: #FFF;
      text-align: center;
      line-height: 35px;
      font-size: 20px;
      border:2px solid transparent;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      -ms-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out;
  
  }
  
  .tab1-features:hover .icon {
      border-color:#003481;
      color:#003481;
      background:transparent;
  }
  
  .tab1-features .info {
      margin-left: 60px;
  }
  
  .tab-carousel.owl-theme .owl-controls {
      text-align: center;
      position: absolute;
      top: 45%;
      width:100%;
  }
  
  .tab-carousel.owl-theme .owl-controls .owl-buttons div {
      display: block;
      width: 30px;
      height: 30px;
      line-height:20px;
      font-size:20px;
      border-radius:0;
      opacity:1;
      background:#003481;
      position: absolute;
      margin: 0;
  }
  
  .tab-carousel .owl-prev {
      left:0;
      position:absolute;
  }
  
  .tab-carousel .owl-next {
      right:0;
      position:absolute;
  }
  .tab-carousel .owl-prev:hover, .tab-carousel .owl-next:hover {
      background:#4F3B3B;
  }
  
  .tab-carousel .item img {
      display: block;
      width: 100%;
      height: auto;
  }
  
  .tab2-services-box {
      margin-bottom: 30px;
      padding: 15px;
      border: 1px solid #E1DDDD;
  }
  .tab2-services-box .media {
      margin-bottom:30px;
  }
  
  .tab2-services-box .services-info h4 {
  }
  
  .tab2-services-box .services-info p {
      margin-bottom:0;
  }
  
  .features-tab3 {
      margin-top: 20px;
      display: inline-block;
  }
  
  .features-tab3 .features-left, .features-tab3 .features-right {
      padding-top: 20px;
  }
  
  .features-tab3 .features-left h4, .features-tab3 .features-right h4, .features-tab3 .features-left p, .features-tab3 .features-right p {
      line-height: 25px;
  }
  
  .features-tab3 .features-left .features-item, .features-tab3 .features-right .features-item {
      margin-bottom: 40px;
  }
  
  .features-tab3 .features-left .features-icon, .features-tab3 .features-right .features-icon {
      width: 55px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      color: #003481;
      font-size: 22px;
      font-weight: 600;
      border: 1px solid #003481;
      position: relative;
      border-radius: 28px;
      transition: all 0.7s ease-in-out 0s;
  }
  
  .features-tab3 .features-left .features-item:hover .features-icon, .features-tab3 .features-right .features-item:hover .features-icon {
      color:#FFF;
      border-color:#003481;
      background:#003481;
  }
  
  .features-tab3 .features-left .features-icon {
      float:right;
  }
  
  .features-tab3 .features-right .features-icon {
      float:left;
  }
  
  .features-tab3 .features-left .features-info {
      text-align: right;
      margin-right: 90px;
  }
  
  .features-tab3 .features-right .features-info {
      text-align: left;
      margin-left: 90px;
  }
  
  .tab4-services-box {
      margin-bottom:30px;
      text-align:center;
  }
  
  .tab4-services-box .icon {
      text-align: center;
      font-size: 47px;
      display: inline-block;
      color: #003481;
      width: 100px;
      height: 100px;
      border: 1px solid #003481;
      line-height: 100px;
      border-radius: 50%;
      margin-bottom: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      -ms-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out;
  }
  
  .tab4-services-box .info {
      margin-top:20px;
  }
  
  .tab4-services-box .info h4 {
      margin-bottom:14px;
  }
  
  .tab4-services-box:hover .icon {
      background:#003481;
      color:#FFF;
      border-color:#003481;
  }
  
  .core-features .list {
      margin: 0px;
      padding: 0px 0px 0px 7px;
  }
  
  .core-features .list li {
      font-size: 15px;
      margin: 0px 0px 12px;
      font-weight: 600;
      line-height: 20px;
      position: relative;
      padding: 0px 0px 0px 25px;
      list-style: outside none none;
      color: #6E6D6D;
  }
  
   .core-features .list li::after {
   top: 0px;
   left: 0px;
   content: "\f058";
   position: absolute;
   font-family: "FontAwesome";
  }
  